/* ------------------------- */
/*          SUMMARY          */
/* ------------------------- */

/*
L.42  ->    GENERALS
L.105 ->    HEADER
L.129 ->    ARTICLES
L.362 ->    FOOTER
L.422 ->    MEDIA QUERIES
*/

/* ------------------------- */
/*          COLORS           */
/* ------------------------- */

/*
vert ->             #579C87 -rgb(87, 156, 135)-
jaune ->            #FDCB46 -rgb(253, 203, 70)-
blanc ->            #FFFFFF -rgb(255, 255, 255)-
icone musique ->    #ef475f (rosé) // #f6916a (orange pâle)
menu1 ->            #FCDFDB -rgb(252, 223, 219)- (fond) // #3d1319 (police)
menu2 ->            #c67412 (orange) // #a56799 (lilas) // #6e4ccc (violet)
menu3 ->            #0228dd (bleu foncé) // #0670f3 (bleu clair) // #229df9 (bleu très clair)
menu4 ->            #3e923a (vert foncé) // #72bf56 (vert moyen) // #beff7f (vert clair)
*/

/* ------------------------- */
/*          POLICE           */
/* ------------------------- */

/*
MainPage ->    'NexaLight' // 'NexaBold'
Menu1    ->    'Devonshire' (p) // 'SegoePrint' (h2)
Menu2    ->    'Mimix' (p) // 'CasusPro' (h2)
Menu3    ->    'CatsyLight' (p) // 'SegoeScript' (h2)
Menu4    ->    'Kaushan Script' (p) // 'SegoeScript' (h2)
*/


/* ------------------------- */
/*         GENERALS          */
/* ------------------------- */

/* ---- marges du body ---- */
body {
    margin: 0;
}

/* ---- marges max de la page ---- */
.body__bg {
    max-width: 1500px;
    margin: auto;
    overflow-wrap: anywhere;
}

/* ---- décoration des liens ---- */
a {
    text-decoration: none;
}

/* ---- polices ---- */
@font-face {
    font-family: 'SegoePrint';
    src: url("../Ressources/fonts/SegoePrint.ttf") format('TrueType');
}

@font-face {
    font-family: 'Mimix';
    src: url("../Ressources/fonts/Mimix.ttf") format('TrueType');
}

@font-face {
    font-family: 'CasusPro';
    src: url("../Ressources/fonts/CasusPro.ttf") format('TrueType');
}

@font-face {
    font-family: 'CatsyLight';
    src: url("../Ressources/fonts/CatsyLight.ttf") format('TrueType');
}

@font-face {
    font-family: 'SegoeScript';
    src: url("../Ressources/fonts/SegoeScript.ttf") format('TrueType');
}

@font-face {
    font-family: 'NexaLight';
    src: url("../Ressources/fonts/NexaLight.otf") format('OpenType');
}

@font-face {
    font-family: 'NexaBold';
    src: url("../Ressources/fonts/NexaBold.otf") format('OpenType');
}

/* ---- police prochainement + footer ---- */
.div__prochainement p, footer a {
    font-family: 'NexaLight', 'Trebuchet MS', 'sans-serif';
}


/* ------------------------- */
/*          HEADER           */
/* ------------------------- */

/* ---- fond + taille du header ---- */
header {
    background-color: #579C87;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---- titre h1 ---- */
header h1 {
    font-family: 'NexaBold', 'Trebuchet MS', 'sans-serif';
    color: #FDCB46;
    font-size: 2.4em;
    margin-top: 18px;
    margin-bottom: 18px;
}



/* ------------------------- */
/*          ARTICLES         */
/* ------------------------- */

/* ---- taille des menus ---- */
.article__menu1, .article__menu2, .article__menu3, .article__menu4 {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* ---- alignement des menus ---- */
.article__menu1 a, .article__menu2 a, .article__menu3 a, .article__menu4 a {
    width: 80%;
    box-shadow: 0px 0px 10px rgba(21,21,21,0.4);
    overflow: hidden;
}

/* ---- fond du menu 1 ---- */
.article__menu1 a {
    background-color: #FCDFDB;
}

/* ---- animation des menus ---- */
.article__menu1--texte, .article__menu2--texte, .article__menu3--texte, .article__menu4--texte {
    height: 597px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 1s;
}

.article__menu1--texte:hover, .article__menu2--texte:hover, .article__menu3--texte:hover, .article__menu4--texte:hover {
    transform: scale(1.10);
}

/* ---- marges entres les menus ---- */
.article__menu1, .article__menu2, .article__menu3, .article__menu4, .div__prochainement {
    margin-top: 32px;
}

/* ---- alignement éléments avec dégradé de couleur ---- */
.article__menu1--centre, .article__menu2--centre, .article__menu3--centre, .article__menu4--centre {
    display: flex;
    justify-content: center;
}

/* ---- taille + dégradé couleur icône musique ---- */
.fa-music {
    width: 45px;
    font-size: 2.8em;
    background: linear-gradient(to bottom right, #ef475f, #f6916a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ---- marge des noms des restaurants ---- */
.article__menu1--texte p, .article__menu2--texte p, .article__menu3--texte p, .article__menu4--texte p {
    margin-top: 0;
    margin-bottom: 0;
}

/* ---- taille des titres h2 ---- */
.article__menu1--texte h2, .article__menu2--texte h2, .article__menu3--texte h2, .article__menu4--texte h2 {
    font-size: 1.6em;
}

/* ---- couleur texte et titre menu1 ---- */
.article__menu1--texte p, .article__menu1--texte h2 {
    color: #3d1319;
}

/* ---- police + taille texte du menu1 ---- */
.article__menu1--texte p {
    font-family: 'Devonshire', 'Trebuchet MS', 'sans-serif';
    font-size: 3em;
}

/* ---- police titre h2 du menu1 ---- */
.article__menu1--texte h2 {
    font-family: 'SegoePrint', 'Trebuchet MS', 'sans-serif';
}

/* ---- police texte + dégradé couleur du menu2 ---- */
.article__menu2--texte p {
    font-family: 'Mimix', 'Trebuchet MS', 'sans-serif';
    font-size: 2em;
    background: linear-gradient(to bottom right, #c67412, #a56799,  #6e4ccc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ---- police titre h2 du menu2 ---- */
.article__menu2--texte h2 {
    font-family: 'CasusPro', 'Trebuchet MS', 'sans-serif';
    color: #c77412;
}

/* ---- police texte + dégradé couleur du menu3 ---- */
.article__menu3--texte p {
    font-family: 'CatsyLight', 'Trebuchet MS', 'sans-serif';
    font-style: italic;
    font-size: 3.5em;
    background: linear-gradient(to bottom right, #0228dd, #0670f3, #229df9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ---- couleur titre du menu3 ---- */
.article__menu3--texte h2 {
    color: #0887fb;
}

/* ---- couleur titre du menu4 ---- */
.article__menu4--texte h2 {
    color: #72bf56;
}

/* ---- police titre h2 du menu3 et menu4 ---- */
.article__menu3--texte h2, .article__menu4--texte h2 {
    font-family: 'SegoeScript', 'Trebuchet MS', 'sans-serif';
}

/* ---- police texte + dégradé couleur du menu4 ---- */
.article__menu4--texte p {
    font-family: 'Kaushan Script', 'Trebuchet MS', 'sans-serif';
    font-size: 2.8em;
    background: linear-gradient(to bottom right, #3e923a, #72bf56, #beff7f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ---- fond + taille + marges + alignement du cadre prochainement ---- */
.div__prochainement {
    border-radius: 10px;
    background-color: #579C87;
    margin-bottom: 77px;
    margin-right: auto;
    margin-left: auto;
    width: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* ---- mise en page du prochainement ---- */
.div__prochainement p {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ---- couleur du texte prochainement + points suspension ---- */
.div__prochainement p, .div__prochainement--point1, .div__prochainement--point2, .div__prochainement--point3 {
    color: #FDCB46;
}

/* ---- taille + marges + animation des points de suspension ---- */
.div__prochainement--point1, .div__prochainement--point2, .div__prochainement--point3 {
    font-size: 1.2em;
    margin-left: 4px;
    margin-bottom: 3px;
    opacity: 0;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

/* ---- animation point1 ---- */
.div__prochainement--point1 {
    animation-name: point1;
  }
  
@keyframes point1 {
    0% {
      opacity: 0;
    }
    20% {
        opacity: 0;
    }
    35% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

/* ---- animation point2 ---- */
.div__prochainement--point2 {
    animation-name: point2;
  }
  
@keyframes point2 {
    0% {
      opacity: 0;
    }
    35% {
      opacity: 0;
    }
    55% {
        opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

/* ---- animation point3 + marge ---- */
.div__prochainement--point3 {
    animation-name: point3;
  }
  
@keyframes point3 {
    0% {
      opacity: 0;
    }
    55% {
      opacity: 0;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }



/* ------------------------- */
/*          FOOTER           */
/* ------------------------- */

/* ---- fond + taille + alignement du footer ---- */
footer {
    background-color: #579C87;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ---- couleur + taille des liens du footer ---- */
.footer__mentions, .footer__contact {
    color: #FDCB46;
    font-size: 1em;
}

/* ---- marge des mentions légales ---- */
.footer__mentions {
    margin-top: 4.5px;
}

/* ---- marge du contact ---- */
.footer__contact {
    margin-bottom: 4.5px;
}

/* ---- effets sur mentions + contact ---- */
.footer__mentions:hover, .footer__contact:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both; 
    transform: translate3d(0, 0, 0); 
    backface-visibility: hidden; 
    perspective: 1000px; 
}

@keyframes shake { 
    10%, 90% { 
    transform: translate3d(-1px, 0, 0); 
    } 
  
    20%, 80% { 
    transform: translate3d(2px, 0, 0); 
    } 
  
    30%, 50%, 70% { 
    transform: translate3d(-4px, 0, 0); 
    } 
  
    40%, 60% { 
    transform: translate3d(4px, 0, 0); 
    } 
}


/* ------------------------- */
/*       MEDIA QUERIES       */
/*          1200px           */
/* ------------------------- */

@media all and (min-width: 1200px) {

    /* ---- taille h1 ---- */
    header h1 {
        font-size: 4em;
        margin-top: 35.5px;
        margin-bottom: 35.5px;
    }

    /* ---- alignement des menus ---- */
    .container__article {
        display: flex;
        justify-content: space-around;
    }

    /* ---- hauteur des menus ---- */
    .article__menu1--texte, .article__menu2--texte, .article__menu3--texte, .article__menu4--texte {
        height: 760px;
    }

    /* ---- marge menus de gauche ---- */
    .article__menu1 a, .article__menu3 a {
        margin-left: 160px;
        margin-right: 50px;
    }

    /*---- marge menus de droite ---- */
    .article__menu2 a, .article__menu4 a {
        margin-right: 160px;
        margin-left: 50px;
    }

    /* ---- marge des menus ---- */
    .article__menu1, .article__menu2, .article__menu3, .article__menu4, .div__prochainement {
        margin-top: 100px;
    }

    /* ---- taille du noms des restaurants ---- */
    .article__menu1--texte p, .article__menu2--texte p, .article__menu3--texte p, .article__menu4--texte p {
        font-size: 2.4em;
    }

    /* ---- taille fond coloré menu2 ---- */
    .article__menu2--texte p {
        width: 385px;
    }

    /* ---- taille fond coloré menu3 ---- */
    .article__menu3--texte p {
        width: 375px;
    }

    /* ---- taille fond coloré menu4 ---- */
    .article__menu4--texte p {
        width: 275px;
    }

    /* ---- taille du texte menu ---- */
    .article__menu1--texte h2, .article__menu2--texte h2, .article__menu3--texte h2, .article__menu4--texte h2 {
        font-size: 2.6em;
    }

    /* ---- taille icône musique ---- */
    .fa-music {
        font-size: 3.8em;
        width: 65px;
    }

    /* ---- taille du texte prochainement ---- */
    .div__prochainement p {
        font-size: 2.7em;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    /* ---- marge du prochainement ---- */
    .div__prochainement {
        margin-top: 95px;
        margin-bottom: 175px;
        border-radius: 20px;
        align-items: baseline;
    }

    /* ---- taille + marges animation points de suspension ---- */
    .div__prochainement--point1, .div__prochainement--point2, .div__prochainement--point3 {
        font-size: 2em;
        margin-left: 8px;
        margin-bottom: 0px;
    }

    /* ---- alignement éléments du footer ---- */
    footer {
        flex-direction: row;
        justify-content: space-between;
    }

    /* ---- taille mentions et contact ---- */
    .footer__mentions, .footer__contact {
        font-size: 2em;
        margin-top: 21.5px;
        margin-bottom: 21.5px;
    }

    /* ---- marge mentions ---- */
    .footer__mentions {
        margin-left: 40px;
    }

    /* ---- marge contact ---- */
    .footer__contact {
        margin-right: 40px;
    }
}