/* ------------------------- */
/*          SUMMARY          */
/* ------------------------- */

/*
L.36  ->    GENERALS
L.79  ->    HEADER
L.101 ->    SECTION
L.219 ->    FOOTER
L.281 ->    MEDIA QUERIES (1200px)
L.350 ->    MEDIA QUERIES (700px-1199px)
*/

/* ------------------------- */
/*          COLORS           */
/* ------------------------- */

/*
vert  ->    #579C87 -rgb(87, 156, 135)-
jaune ->    #FDCB46 -rgb(253, 203, 70)-
blanc ->    #FFFFFF -rgb(255, 255, 255)-
menu3 ->    #0228dd (bleu foncé) // #0670f3 (bleu clair) // #229df9 (bleu très clair)
fond  ->    #edefef
*/

/* ------------------------- */
/*          POLICE           */
/* ------------------------- */

/*
MainPage ->    'NexaLight' // 'NexaBold'
Menu3    ->    'SegoePrint' // 'CatsyLight'
*/


/* ------------------------- */
/*         GENERALS          */
/* ------------------------- */

/* ---- marges du body ---- */
body {
    margin: 0;
}

/* ---- marges max de la page ---- */
.body__bg {
    max-width: 2000px;
    margin: auto;
    overflow-wrap: anywhere;
}

/* ---- décoration des liens ---- */
a {
    text-decoration: none;
}

/* ---- polices ---- */
@font-face {
    font-family: 'SegoePrint';
    src: url("../../Ressources/fonts/SegoePrint.ttf") format('TrueType');
}

@font-face {
    font-family: 'CatsyLight';
    src: url("../../Ressources/fonts/CatsyLight.ttf") format('TrueType');
}

@font-face {
    font-family: 'NexaLight';
    src: url("../../Ressources/fonts/NexaLight.otf") format('OpenType');
}

@font-face {
    font-family: 'NexaBold';
    src: url("../../Ressources/fonts/NexaBold.otf") format('OpenType');
}


/* ------------------------- */
/*          HEADER           */
/* ------------------------- */

/* ---- fond + taille du header ---- */
header {
    background-color: #579C87;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---- titre h1 ---- */
header h1 {
    font-family: 'NexaBold', 'Trebuchet MS', 'sans-serif';
    color: #FDCB46;
    font-size: 2.4em;
    margin-top: 18px;
    margin-bottom: 18px;
}

/* ------------------------- */
/*          SECTION          */
/* ------------------------- */

/* ---- alignement du contenu ---- */
section {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-bottom: 90px;
}

/* ---- fond de couleur du menu ---- */
article {
    background-color: #edefef;
}

/* ---- alignement logo haut de page + titre h4 ---- */
.logo__hautdepage, h4 {
    text-align: center;
}

/* ---- alignement logo haut de page ---- */
.logo__hautdepage {
    display: flex;
    justify-content: center;
}

/* ---- taille des séparateurs gauche et droite ---- */
.img__entrees img, .img__plats img, .img__desserts img {
    width: 97px;
    max-width: 100%;
    height: auto;
}

/* ---- alignement des séparateurs gauche et droite ---- */
.img__entrees p, .img__plats p, .img__desserts p {
    display: flex;
    align-items: center;
}

/* ---- taille + alignement du texte et séparateurs ---- */
.article__entrees--disposition, .article__plats--disposition, .article__desserts {
    width: 80%;
    margin: auto;
}

/* ---- alignement + marge séparateur ---- */
.img__entrees, .img__plats, .img__desserts {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
    margin-bottom: 21px;
}

/* ---- marge + taille titre h3 haut de page ---- */
.logo__hautdepage h3 {
    font-family: 'CatsyLight', 'Trebuchet MS', 'sans-serif';
    font-weight: lighter;
    font-style: italic;
    font-size: 1.8em;
    background: linear-gradient(to bottom right, #0228dd, #0670f3, #229df9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 35px;
    margin-bottom: 15px;
}

/* ---- taille titre h4 ---- */
h4 {
    font-size: 0.9em;
    font-weight: normal;
}

/* ---- police h4 + texte ---- */
h4, p {
    font-family: 'SegoePrint', 'Trebuchet MS', 'sans-serif';
}

/* ---- taille des blocs et du texte ---- */
.article__taille {
    width: 79%;
    font-size: 0.6em;
}

/* ---- taille + alignement des prix ---- */
.article__prix {
    font-weight: bold;
    font-size: 0.8em;
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

/* ---- marge du texte ---- */
.article__taille, .article__prix {
    margin-top: 0;
    margin-bottom: 0;
}

/* ---- alignement texte et prix ---- */
.article__entrees, .article__plats, .article__desserts {
    display: flex;
    margin-bottom: 10px;
}

/* ---- soulignement des h4 entrées / plats / desserts ---- */
h4::after {
    content: "";
    display: block;
    background: black;
    height: 2px;
    width: 0%;
    transition-property: width;
    transition-duration: 1s;
}

h4:hover::after {
    width: 100%;
}


/* ------------------------- */
/*          FOOTER           */
/* ------------------------- */

/* ---- fond + taille + alignement du footer ---- */
footer {
    background-color: #579C87;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ---- couleur + taille des liens du footer ---- */
.footer__mentions, .footer__contact {
    font-family: 'NexaLight', 'Trebuchet MS', 'sans-serif';
    color: #FDCB46;
    font-size: 1em;
}

/* ---- marge des mentions légales ---- */
.footer__mentions {
    margin-top: 4.5px;
}

/* ---- marge du contact ---- */
.footer__contact {
    margin-bottom: 4.5px;
}

/* ---- effets sur mentions + contact ---- */
.footer__mentions:hover, .footer__contact:hover {
    animation-name: shake;
    animation-duration: 0.82s;
    animation-timing-function: cubic-bezier(.36,.07,.19,.97);
    animation-fill-mode: both;
    transform: translate3d(0, 0, 0);
}

@keyframes shake { 
    10%, 90% { 
    transform: translate3d(-1px, 0, 0); 
    } 
  
    20%, 80% { 
    transform: translate3d(2px, 0, 0); 
    } 
  
    30%, 50%, 70% { 
    transform: translate3d(-4px, 0, 0); 
    } 
  
    40%, 60% { 
    transform: translate3d(4px, 0, 0); 
    } 
}


/* ------------------------- */
/*       MEDIA QUERIES       */
/*          1200px           */
/* ------------------------- */

@media all and (min-width: 1200px) {

    /* ---- taille h1 ---- */
    header h1 {
        font-size: 4em;
        margin-top: 35.5px;
        margin-bottom: 35.5px;
    }

    /* ---- marge section ---- */
    section {
        margin-bottom: 200px;
    }

    /* ---- taille du h2 ---- */
    section h2 {
        font-size: 2.5em;
    }

    /* ---- taille des séparateurs gauche et droite ---- */
    .img__entrees img, .img__plats img, .img__desserts img {
        width: 285px;
    }

    /* ---- taille titre h3 haut de page ---- */
    .logo__hautdepage h3 {
        font-size: 5em;
    }

    /* ---- taille titre h4 ---- */
    h4 {
        font-size: 2em;
    }

    /* ---- taille du texte ---- */
    .article__taille, .article__desserts p, .article__prix {
        font-size: 1.4em;
    }

    /* ---- alignement éléments du footer ---- */
    footer {
        flex-direction: row;
        justify-content: space-between;
    }

    /* ---- taille mentions et contact ---- */
    .footer__mentions, .footer__contact {
        font-size: 2em;
        margin-top: 21.5px;
        margin-bottom: 21.5px;
    }

    /* ---- marge mentions ---- */
    .footer__mentions {
        margin-left: 40px;
    }

    /* ---- marge contact ---- */
    .footer__contact {
        margin-right: 40px;
    }
}


/* ------------------------- */
/*       MEDIA QUERIES       */
/*       700px-1199px        */
/* ------------------------- */

@media all and (min-width: 700px) and (max-width: 1199px) {

    /* ---- taille des séparateurs gauche et droite ---- */
    .img__entrees img, .img__plats img, .img__desserts img {
        width: 200px;
    }

    /* ---- taille titre h4 ---- */
    h4 {
        font-size: 1.4em;
    }

    /* ---- taille du texte ---- */
    .article__taille, .article__desserts p, .article__prix {
        font-size: 1.2em;
    }

    /* ---- taille titre h3 haut de page ---- */
    .logo__hautdepage h3 {
        font-size: 2.5em;
    }

    /* ---- alignement éléments du footer ---- */
    footer {
        flex-direction: row;
        justify-content: space-between;
    }

    /* ---- marges mentions et contact ---- */
    .footer__mentions, .footer__contact {
        margin-bottom: 14.5px;
        margin-top: 14.5px;
    }

    /* ---- marge mentions ---- */
    .footer__mentions {
        margin-left: 40px;
    }

    /* ---- marge contact ---- */
    .footer__contact {
        margin-right: 40px;
    }
}