/* ------------------------- */
/*          SUMMARY          */
/* ------------------------- */

/*
L.25  ->     GENERALS
L.47  ->     HEADER
L.70  ->     SECTION
L.100 ->     FOOTER
*/

/* ------------------------- */
/*          COLORS           */
/* ------------------------- */

/*
vert  ->    #579C87 -rgb(87, 156, 135)-
jaune ->    #FDCB46 -rgb(253, 203, 70)-
blanc ->    #FFFFFF -rgb(255, 255, 255)-
*/



/* ------------------------- */
/*         GENERALS          */
/* ------------------------- */

/* ---- marges du body ---- */
body {
    margin: 0;
}

/* ---- marges max de la page ---- */
.body__bg {
    max-width: 1500px;
    margin: auto;
    overflow-wrap: anywhere;
}

/* ---- décoration des liens ---- */
a {
    text-decoration: none;
}


/* ------------------------- */
/*          HEADER           */
/* ------------------------- */

/* ---- fond + taille du header ---- */
header {
    background-color: #579C87;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: anywhere;
}

/* ---- titre h1 ---- */
header h1 {
    color: #FDCB46;
    font-size: 2.4em;
    margin-top: 18px;
    margin-bottom: 18px;
}


/* ------------------------- */
/*          SECTION          */
/* ------------------------- */

/* ---- alignement du contenu ---- */
section {
    overflow-wrap: anywhere;
    text-align: center;
}

/* ---- marges + soulignement titre h2 ---- */
section h2 {
    text-decoration: underline;
    margin-top: 100px;
}

/* ---- couleur h2 + span ---- */
section h2, section span {
    color: #FDCB46;
}

/* ---- couleur + taille du texte ---- */
section p {
    color: #579C87;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 100px;
}



/* ------------------------- */
/*          FOOTER           */
/* ------------------------- */

/* ---- fond + taille + alignement du footer ---- */
footer {
    background-color: #579C87;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ---- couleur + taille des liens du footer ---- */
.footer__mentions {
    color: #FDCB46;
    font-size: 1em;
    margin-top: 13.5px;
    margin-bottom: 13.5px;
}

/* ---- effets sur mentions ---- */
.footer__mentions:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both; 
    transform: translate3d(0, 0, 0); 
    backface-visibility: hidden; 
    perspective: 1000px; 
}

@keyframes shake { 
    10%, 90% { 
    transform: translate3d(-1px, 0, 0); 
    } 
  
    20%, 80% { 
    transform: translate3d(2px, 0, 0); 
    } 
  
    30%, 50%, 70% { 
    transform: translate3d(-4px, 0, 0); 
    } 
  
    40%, 60% { 
    transform: translate3d(4px, 0, 0); 
    } 
}